---
# comment
---

//
//  Smartling Styles and Layout
//  FOR STANDARD TYPOGRAPHY / COLORS SEE '/_sass/bootstrap/_variables.scss'
//



// COLORS

$smartling-red: #F26C5D;
$smartling-green: #66C6B4;
$smartling-yellow: #EDBB6C;
$smartling-link-color: #419DB7;
$smartling-warning-color: #FBD4D0;
$smartling-info-color: #B1FFFF;
$smartling-blue: #62C2DD;
$link-hover-color: darken($smartling-link-color, 15%) !default;
$background-grey: #F6F7F7;
$text-color: #494E50;
$smartling-white-text-color: #fff;
$border-grey: #f1f1f1;
$home-heading-color: #2d3133;
$navbar-black: #fff;

//END COLORS



// HEIGHTS AND TOP MARGINS

// Fixed Component Heights
$navbar-height: 60px;
$search-height: 60px;
$breadcrumb-height: 50px;
$home-banner-height: 160px;

// Top Margins
$search-top-margin: $navbar-height;
$breadcrumb-top-margin: $navbar-height;
$content-start-top-margin: $navbar-height + $breadcrumb-height;

// Target Height/Margin - Stops deeplink headings disappearing under fixed headers
$target-height: $content-start-top-margin + 10;
$target-margin: 0 - $target-height;

// END HEIGHTS AND TOP MARGINS




// BORDERS

$standard-border: 1px solid $border-grey;

// END BORDERS





// HEADER STYLES AND LAYOUT

// Top header with logo and main nav
@mixin smartling-header {
    height: $navbar-height !important;
    min-height: $navbar-height !important;
    max-height: $navbar-height !important;
    background: $navbar-black !important;
    ul {
        margin-top: -24px;
        li {
            a {
                color: $text-color;
                font-size: 16px;
                font-weight: 300;
                line-height: 30px;
                }
            a.active {
                color: $smartling-red !important;
                background-color: inherit;
            }
        }
        position: relative;
        bottom: 0;
    }
}

.smartling-header-page {
    @include smartling-header();
    border-bottom: 1px solid #999 !important;
}

.header-logo {
    width: 220px;
    position: relative;
    bottom: 26px;
    filter: invert(60%);
}

// Position Search Bar

#help-search::-webkit-input-placeholder { font-style:italic; }
#help-search::-moz-placeholder { font-style:italic; }

.search-bar {
    //background: $background-grey;
    //border: $standard-border;
    //height: $search-height;
    position: absolute;
    left: 30%;
    top: -20px;
    margin-top: 40px;
    display: inline;
    margin-left: 60px;
    width: 100%;
    //z-index: 1030;
    .search-input {
        //position: absolute;
        display: inline-block;
        top: 15px;
        padding-left: 50px;
        background: inherit;
        border: none;
        font-size: 16px;
        &:focus {
            outline: none;
        }

        @media only screen and (min-width: 992px) {
            margin-left: -50px;
        }
    }
    .search-icon {
        display: inline-block;
        background: url('../img/magnifying-glass.svg');
        background-size: cover;
        width: 22px;
        height: 22px;
        float: left;
        margin: 0 10px 0 0;
        //position: relative;
        top: 15px;
        @media only screen and (min-width: 992px) {
            right: 50px;
        }
    }
}

.search-bar-page {
    @extend .search-bar;
    //margin-top: $search-top-margin;
}

// Position Breadcrumbs
.smartling-breadcrumbs {
    display: none; //mobile-first style. min-width query reveals on desktop
    position: fixed;
    margin-top: $breadcrumb-top-margin;
    z-index: 1000;
    width: 100%;
    background-color: #fff;
    white-space: nowrap;
    overflow-x: auto;
    height: $breadcrumb-height;
    ol {
        margin-top: 7px;
    }
    @media only screen and (min-width: 992px) {
       display: block !important;
    }
}

// Begin main content after all fixed bars
.content-start {
    margin-top: $navbar-height + $search-height + 20px; //Allow for disappearing breadcrumbs in mobile
    @media only screen and (min-width: 992px) {
        margin-top: $content-start-top-margin !important;
    }
}

// For pages with no breadcrumb, bump up main content
.content-start-no-crumb {
    margin-top: $navbar-height + $search-height + 20px;
}

// END HEADER STYLES AND LAYOUT





// SIDE NAV STYLES

// Define nav link styles - arguments for size, leading and padding
@mixin nav-links ($side-link-size, $side-link-leading, $side-link-bottom-padding) {
    a {

        line-height: $side-link-leading;
        padding-top: 0;
        padding-left: 0;
        padding-right: 10px;
        padding-bottom: $side-link-bottom-padding;
    }
    a:hover {
        color: $smartling-red;
        background-color: inherit;
    }
}

// Indent child pages in the nav
.secondary-nav {
    left: 15px;
}
.tertiary-nav {
    left: 30px;
}

// Styles for the panels
.side-nav-widget {
    margin: auto;
    max-width: 95%;
    .panel {
        border: $standard-border;
        border-radius: 4px;
    }
    .panel-heading {
        border-bottom: none;
        background-color: $background-grey;
        border-radius: 4px;
        a {
            h5 {
                font-size: 20px;
                color: $text-color;
            }
            :hover {
                color: $link-hover-color;
            }
        }
        padding-left: 24px;
    }

    .request-button {
        margin: 0 auto;
        .panel-heading {
            background-color: $smartling-blue !important;
            padding-left: 10px;
            a {
                i {
                    font-size: 30px;
                    vertical-align: middle;
                    color: $smartling-white-text-color !important;
                    display: inline-block;
                }
                h5 {
                    color: $smartling-white-text-color !important;
                    font-size: 18px;
                    font-weight: 100;
                    vertical-align: middle;
                    display: inline-block;

                }
            }
        }
    }
    .panel-body {
        border-top: $standard-border;
        border-top-color: $border-grey !important;
        padding-left:24px;
    }
    #contents {
        padding-bottom: 30px;
    }
    .toc {
        @include nav-links(16px, 20px, 8px);
    }

    // Fix sidebar on large screens
    @media only screen and (min-width: 992px) {
        position: fixed;
        max-height: 80%; // Stop bottom of fixed sidebar disappearing
        overflow-y: scroll; // Scroll overflow when lots of nav entries
        overflow-x: hidden;
    }



}




// Home Page Main Nav - Similar to Side Nav list style but a little bigger
.main-nav {
    .toc {
        @include nav-links(16px, 20px, 15px);
    }
    h4 {
        a {
            color: $text-color;
            font-size: 20px;
            line-height: 32px;
        }
    }
}

// END SIDE NAV STYLES





// MAIN CONTENT CONTAINER

// Padding above and below article headline
$headline-padding: 12px;

// Set background
.main-content-container {
    background-color: $background-grey;
    padding-top: $headline-padding; //Spacing above and below article heading
    padding-bottom: 20px; //Stop the end of scrolling content getting cramped at the bottom of the viewport
}

// Styles for article content
.main-content {
    padding: 5px, 20px, 5px, 20px;
    margin: auto;
    max-width: 95%;

    h1 {
        padding-bottom: $headline-padding;
    }

    // Center images and set default size to almost fill the container - standard for full-screen caps
    img {
        max-width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 3px solid white;
        border-radius: 4px;
    }

    //Non-default image sizes - editors can apply these sizes using alt tags in markdown like ![medium](/image/url/)
    img[alt="large"] {
        max-width: 70%;
    }

    img[alt="medium"] {
        max-width: 55%;
    }
    img[alt="small"] {
        max-width: 40%;
    }

    // Paragraph spacing
    p {
        margin: 0 0 8px 0;
    }

    // Warning and info divs
    blockquote {
        border: none;
        border-radius: 4px;
        background-repeat: no-repeat;
        background-position: 10px center;
        color: #565A5B;
        font-size: 14px;
        background-color: $smartling-warning-color;

    }
    blockquote.info {
        background-color: $smartling-info-color;
    }
}

// END MAIN CONTENT CONTAINER

// SPECIAL CLASSES FOR HOME PAGE

//Content height adjustment to allow for banner

.home-banner {
    margin-top: $navbar-height;
    position: fixed;
    height: $home-banner-height;
    z-index: 1030;
    width: 100%;
    background-color: $navbar-black;
    color: $text-color;
    text-align: center;
    border-bottom: 1px solid #999;
    h1 {
        color: inherit;
        position: relative;
    }
}

// Styles for action cards at the top of the home page 'Getting Started', Account Owners', 'Developers' etc

.action-cards {
    text-align: center;
    i {
        font-size: 80px; //This is the size of the icons
        padding-bottom: 10px; // Leave space between icons and text
    }
    .card-text {
        color: $text-color; // Stop default link color from applying to the icon text
    }
    margin-bottom: 30px;  // Leave space between the action cards and the next
}


// Section headings - 'What's New', 'Popular Topics'
.home-section {
    h2 {
        color: $home-heading-color;
        border-bottom: 1px solid black;
        padding-bottom: 15px;
        text-transform: uppercase; //Displays text in all caps
        font-size: 19px;
        margin-bottom: 15px;
        }
    padding-bottom: 30px; //leave space below each heading
}


// Black cards for 'What's New section

.smartling-header-home {
    @include smartling-header();
}

.whats-new-cards {
    .card {
        height: 170px;
        background: #2A3536;
        color: $smartling-white-text-color;
        h3, h4, p {
            color: $smartling-white-text-color;
            padding-left: 15px;
            padding-right: 15px;

        }
        h3, h4 {
            text-transform: uppercase; //Always show headings in all caps
        }
        // Main card heading - 'Blog', 'Webinars' etc
        h3 {
            padding-top: 15px;
            font-size: 19px;
        }
        // Subheading - title of a featured blog article, best practice.
        h4 {
            font-size: 14px;
        }

        .home-card-button {
            text-transform: uppercase;
            color: $smartling-white-text-color;
            padding: 10px 10px 10px 10px;
            border-radius: 4px;
            position: absolute;
            display: inline-block;
            bottom: 15px;
            left: 0;
            right: 0;
            margin: 0 auto;  //center the button within the card
            text-align: center;  //centers text within the button
            width: 180px;  //Buttons have a set width - change text with caution
        }

        .button-red {
            @extend .home-card-button;
            background: $smartling-red;
        }

        .button-yellow {
            @extend .home-card-button;
            background: $smartling-yellow;
        }

        .read-more {
            position: absolute;
            bottom: 15px;
            right: 30px;
        }

    }
}

.popular-topics {
    padding-left: 30px;
    padding-right: 30px;
}

.search-bar-home {
    @extend .search-bar;
    margin-top: $navbar-height + $home-banner-height;
}

.content-start-homepage {
    margin-top: $navbar-height + $home-banner-height + $search-height + 70px; //last number is distance from search bar
}








// END SPECIAL CLASSES FOR HOMEPAGE





// MISC

// Active styles for all links

a:hover {
    text-decoration: none !important;
    color: $smartling-red;
}

a:active, a:focus {
    text-decoration: none !important;
}

// Prevent deep link headings scrolling behind fixed header
:target:before {
    content:"";
    display:block;
    height: $target-height; /* fixed header height*/
    margin: $target-margin 0 0; /* negative fixed header height */
}

// Prevent Mark.js from doing ugly highlighting
mark {
    background: inherit;
    color: inherit;
    padding: 0em;
}

// Underline Smartling Terms
.term-underline {
    border-bottom: 1px dashed $smartling-link-color;
}


// Don't Underline Anchor Links
.anchorjs-link, .anchorjs-link:hover, .anchorjs-link:focus {
    text-decoration: none;
}

//JavaScript Helpers
html, body {
    height: 100%;
}

@media only screen and (min-width: 768px) {
    .row-center {
        text-align: center;
    }

    .col-center {
        display: inline-block;
        float: none !important;
    }
}

// Highlight Code

@import "syntax-highlighting";


// END MISC
