---
layout: default
title: Smartling Help
home: true
--- 

<!-- Home Page Content -->

<div class="search-main">
    <div class="search-bar-home">
        <div class="container">
            <div class="home-search-left">
                <span class="search-icon"></span>
                <input id="help-search" class="search-input st-default-search-input" placeholder="Search Smartling Help...">
            </div>
            <div class="home-search-right">
                <a href="https://dashboard.smartling.com"><i class="fa fa-user"></i>Login</a>
                <a href="http://status.smartling.com/"><i class="fa fa-info-circle"></i>Status</a>
            </div>
        </div>
    </div>
</div>

<div class="container page">
    <div class="row content-start-homepage">
        <div class="home-section col-md-6">
            <h2>Get Started with Smartling</h2>
            <ul>
                {% for getting-started in site.data.homepage-content.getting-started %}


                <li><a href="{{getting-started.link}}">{{getting-started.title}}</a></li>

                {% endfor %}
            </ul>

        </div>
        <div class="home-section col-md-6">
            <h2>Product Updates</h2>
            <ul>

                    {% for post in site.posts %}
                        {% if post.categories contains 'product-update' %}
                                    <li><a href="{{post.url}}">{{post.title}}</a></li>
                        {% endif %}
                    {% endfor %}
            </ul>
        </div>

        <div class="home-section col-md-6">
            <h2>Product Blog</h2>
                <ul>

                    {% for post in site.posts %}
                    {% unless post.categories contains 'product-update' %}
                    <li><a href="{{post.url}}">{{post.title}}</a></li>
                    {% endunless %}
                    {% endfor %}
                </ul>
        </div>
        <div class="home-section col-md-6">
            <h2>Latest Documentation Updates</h2>
                <ul>
                    {% for latest-update in site.data.homepage-content.latest-updates %}


                    <li><a href="{{latest-update.link}}">{{latest-update.title}}</a></li>

                    {% endfor %}
                </ul>

        </div>

        <div class="home-section col-md-6">
            <h2>Submit a Ticket</h2>

            <p>Have a question or a problem? <a href="https://support.smartling.com/hc/en-us/requests/new" target="_blank">Send us a ticket</a> and we’ll start working on a solution immediately.</p>
        </div>
        <div class="home-section col-md-6">
            <h2>Newsletter</h2>
                <p><a href="/manage-subscriptions">Signup</a> to receive regular updates from Smartling about new features, updates, bug fixes.</p>
        </div>
    </div>


</div>
<p><br><br><br><br></p>








