---
layout: default
title: Smartling Developer Documentation
home: true
--- 

<!-- Home Page Content -->



<div class="container page">
    <div class="content-start-homepage">


            <div class="home-section">
                <div class="row">
                    <div class="col-md-2 col-sm-2 hidden-xs-down"></div>
                    {% for card in site.data.homepage-content.action-cards %}
                    <div class="col-md-2 col-sm-2 col-xs-6 action-cards">
                        <div>
                            <a href="{{card.link}}">
                                <i class="fa {{card.icon}}" aria-hidden="true"></i>
                                <br/>
                                <span class="card-text">{{card.title}}</span>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-md-2 col-sm-2 hidden-xs-down"></div>
                </div>
            </div>


        <div class="home-section whats-new-cards">
            <h2>What's New?</h2>
            <div class="row">
                <div class="col-md-5">
                    <div class="card">
                        <h3>Blog</h3>
                        <h4></h4>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <h3>Webinars</h3>
                        <p>Attend weekly trainings, Q&A sessions, and product demos.</p>
                        <p><a href="/" class="button-yellow">Sign-up for training</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <h3>Newsletter</h3>
                        <p>Get weekly updates straight to your inbox.</p>
                        <p><a href="/" class="button-red">Get the Newsletter</a></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <h3>New Features</h3>
                        <h4>Test Heading</h4>
                        <p>Lormem ipsum dolor sit amet, consectetur adipisicing sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua</p>
                        <a href="/" class="read-more">Read more ></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <h3>Best Practices</h3>
                        <h4>Test Heading</h4>
                        <p>Lormem ipsum dolor sit amet, consectetur adipisicing sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua</p>
                        <a href="/" class="read-more">Read more ></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-section">
            <h2>Popular Topics</h2>
            <div class="row">

                <div class="col-md-12">
                    <div class="popular-topics">
                        {% for topic in site.data.homepage-content.popular-topics %}
                            {% if topic.type == 'section' %}
                                {% for section in site.sections %}
                                    {% if section.title == topic.title %}
                                        {% assign current-topic = section %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if topic.type == 'article' %}
                                {% for article in site.articles %}
                                    {% if article.title == topic.title %}
                                        {% assign current-topic = article %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% if topic.type == 'faq' %}
                        {% for faq in site.faqs %}
                        {% if faq.title == topic.title %}
                        {% assign current-topic = faq %}
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        <p><a href="{{current-topic.url}}">{{current-topic.title}}</a></p>
                        <p>{{ current-topic.content | markdownify | strip_html | truncatewords: 50 }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="home-section">
            <h2>Frequently Asked Questions</h2>
                <div class="row">
                    {% for home-faq in site.data.homepage-content.home-faqs %}
                        {% for faq in site.faqs %}
                            {% if faq.title == home-faq.title %}
                                <div class="col-md-5 col-md-offset-1">
                                    <p><a href="{{faq.url}}">{{faq.title}}</a></p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
        </div>

    </div>
</div>







