---
layout: default
title: Smartling Developer Documentation
--- 

<!-- Padding -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p></p>
                <p><br/><br/><br/><br/></p>
            </div>
        </div>

<!-- Home Page Content -->
    <div class="container main">
        <div class="row">
            <div class="col-md-12">
                <p class="welcome">Fan luv. Egg whites, turkey sausage, wheat toast, water. Of course they don’t want us to eat our breakfast, so we are going to enjoy our breakfast. Find peace, life is like a water fall, you’ve gotta flow. Cloth talk. Hammock talk come soon.</p>
            </div>
        </div>


        

        <div class="row">
            {% for category in site.data.nav %}
            <div class="col-md-4 col-sm-6">
                <h4>
                    {{category.title}}
                </h4>
                <ul>
                    {% for subcat in category.categories}
                        {% for category in site.categories %}
                            {% if category.title == subcat.title %}
                            <li>
                                <a href="{{category.url}}">{{category.title}}</a>
                            </li>
                            {% endif %}
                        {% endfor }
                    {% endfor %}
                    {% for subart in category.articles}
                        {% for article in site.articles %}
                            {% if article.title == subart.title %}
                            <li>
                                <a href="{{article.url}}">{{article.title}}</a>
                            </li>
                            {% endif %}
                        {% endfor }
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <h4>
                    New Features and Announcements
                </h4>
                <ul>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                </ul>
            </div>
                    
            <div class="col-md-4 col-sm-6">
                <h4>
                    Getting Started
                </h4>
                <ul>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                </ul>
            </div>
                    
            <div class="col-md-4 col-sm-6">
                <h4>
                    Manage Projects
                </h4>
                <ul>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                </ul>
            </div>
                    
            <div class="col-md-4 col-sm-6">
                <h4>
                    Manage Users
                </h4>
                <ul>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                </ul>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <h4>
                    Translate and Edit
                </h4>
                <ul>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                </ul>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <h4>
                    Connectors
                </h4>
                <ul>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                </ul>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <h4>
                    Files Projects
                </h4>
                <ul>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                </ul>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <h4>
                    New Features and Announcements
                </h4>
                <ul>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                    <li>
                        <a href="">Test Link</a>
                    </li>
                </ul>
            </div>
           
        </div>
    </div>
        <!-- /.row -->
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>


