---
layout: page
title: Previews
---
<p> <br> <br> <br> <br> <br> </p>
{% assign allarticles = site.articles | sort: 'date' %}
<h2>Draft Articles</h2>
<ul>
{% for item in allarticles %}
	{% if item.draft %}
		<li>
			<a href="{{item.url}}">{{item.title}}</a>
		</li>
	{% endif %}
{% endfor %}
</ul>

<h2>Draft Sections</h2>
{% assign allsections = site.sections | sort: 'date' %}
<ul>
{% for item in allsections %}
	{% if item.draft %}
		<li>
			<a href="{{item.url}}">{{item.title}}</a>
		</li>
	{% endif %}
{% endfor %}
</ul>

<h2>Draft Sections</h2>

<ul>
{% for faq in site.faqs %}
	{% if faq.draft %}
		<li>
			<a href="{{faq.url}}">{{faq.title}}</a>
		</li>
	{% endif %}
{% endfor %}
</ul>