---
layout: default
title: Site Status
---

<p><br /> <br /> <br /> <br /> </p>

<h1>{{page.title}}</h1>

<h2>Duplicated Navigation</h2>

{% for article in site.articles %}
	{% assign currentSections = site.emptyArray %}
	{% for section in site.sections %}
		{% for subarticle in section.subarticles %}
		{% if subarticle.title == article.title %}
			{% assign currentSections = currentSections | push: section %}
		{% endif %}
		{% endfor %}
	{% endfor %}
	{% assign currentSectionsLength = currentSections | size %}
	{% if currentSectionsLength > 1 %}
		<h5>{{article.title}}</h5>
		<ul>
			{% for currentSection in currentSections %}
				<li><a href="{{currentSection.url}}">{{currentSection.title}}</a></li>
			{% endfor %}
		</ul>
	{% endif %}
{% endfor %}

