
{% include search-box.html %}

<div class="panel panel-default">
    <div class="panel-heading">
        <a data-toggle="collapse" href="#collapse1">
            <h5 class="panel-title no-anchor">
                Smartling APIs
            </h5>

        </a>
    </div>
    <div id="collapse1" class="panel-collapse">
        <div class="panel-body toc">
            <ul class="nav nav-stacked">
                {% for section in site.data.api-nav.sections %}
                {% for v2section in site.v2sections %}
                {% if v2section.title == section %}
                <li><a href="{{v2section.url}}">{{v2section.title}}</a></li>
                {% break%}
                {% endif %}
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <a data-toggle="collapse" href="#collapse1">
            <h5 class="panel-title no-anchor">
                Other Information
            </h5>

        </a>
    </div>
    <div id="collapse1" class="panel-collapse">
        <div class="panel-body toc">
            <ul class="nav nav-stacked">
                {% for article in site.data.api-nav.articles %}
                {% for developerarticle in site.developerarticles %}
                {% if developerarticle.title == article %}
                <li><a href="{{developerarticle.url}}">{{developerarticle.title}}</a></li>
                {% break%}
                {% endif %}
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>