
{% if page.layout == 'article' %}
  {% for article in site.articles %}
    {% if article.url == page.url %}
      {% assign currentArticle = article %}
    {% endif %}
  {% endfor %}
  {% for category in site.categories %}
    {% for sub_article in category.sub_articles %}
      {% if sub_article.article == currentArticle.name %}
        {% assign crumb1 = category %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}

{% if page.layout == 'category' %}
  {% for category in site.categories %}
    {% if category.url == page.url %}
      {% assign currentCategory = category %}
    {% endif %}
  {% endfor %}
  {% for category in site.categories %}
    {% for sub_category in category.sub_categories %}
      {% if sub_category.category = currentCategory.name %}
        {% assign crumb1 = category %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}


<ol class="breadcrumbs">
  <li><a href="/">home</a> &#187; </li>
  {% if crumb1 %}
    <li><a href="{{crumb1.url}}">{{crumb1.title}}</a> &#187; </li>
  {% endif %}
    <li><a href="{{page.url}}">{{page.title}}</a> &#187; </li>
</ol>