
<!--
<div class="breadcrumbs">
{% assign Level1Categories = site.data.nav %}
{% for Level1Category in Level1Categories %}
  {% if Level1Category.category == page.title %}
    <a href="/">Home</a> > {{page.title}}
  {% else %}
      {% for category in site.categories %}
        {% if category.name == Level1Category.category %}
          {% assign Crumb1 = category %}
        {% endif %}
      {% endfor %}
      {% assign Level2Categories = Level1Category.subcategories %}
      {% for Level2Category in Level2Categories %}
        {% if Level2Category.category == page.title %}
          <a href="/">Home</a> > <a href="{{Crumb1.url}}">{{Crumb1.title}}</a> > {{page.title}}
        {% else %}
          {% for category in site.categories %}
            {% if category.title == Level2Category.category %}
            {% assign Crumb2 = category %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
        {% for article in Level2Category.subarticles %}
          {% if article.article == page.title %}
            <a href="/">Home</a> > <a href="{{Crumb1.url}}">{{Crumb1.title}}</a> > <a href="{{Crumb2.url}}">{{Crumb2.title}}</a> > {{page.title}}
          {% endif %}
        {% endfor %}
      {% for article in Level1Category.subarticles %}
        {% if article.article == page.title %}
          <a href="/">Home</a> > <a href="{{Crumb1.url}}">{{Crumb1.title}}</a> > {{page.title}}
        {% endif %}
      {% endfor %}
  {% endif %}
{% endfor %}
</div>

-->
{% capture url_parts %} {{ page.url | remove: "/index.html" | replace:'/'," " }}{% endcapture %}
{% capture num_parts %}{{ url_parts | number_of_words | minus: 1 }}{% endcapture %}
{% assign previous="" %}
<ol>
  {{num_parts}}
  {{url_parts}}
  {{site.breadcrumbLimit}}
 {% if num_parts == "0" or num_parts == "-1" %}
  <li><a href="/">home</a> &nbsp; </li>
 {% else %}
  <li><a href="/">home</a> &#187; </li>

  {% for unused in site.breadcrumbLimit limit:num_parts %}
   {% capture first_word %}{{ url_parts | truncatewords:1 | remove:"..."}}{% endcapture %}
   {% capture previous %}{{ previous }}/{{ first_word }}{% endcapture %}

   <li><a href="{{previous}}">{{ first_word }}</a> &#187; </li>

   {% capture url_parts %}{{ url_parts | remove_first:first_word }}{% endcapture %}
  {% endfor %}
 {% endif %}
</ol>