
{% if page.layout != 'section' %}
  {% for article in site.articles %}
    {% if article.title == page.title %}
      {% assign currentArticle = article %}
    {% endif %}
  {% endfor %}
  {% for section in site.sections %}
    {% for subarticle in section.subarticles %}
      {% if subarticle.title == currentArticle.title %}
        {% assign crumb1 = section %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}

{% if page.layout == 'section' %}
  {% for section in site.sections %}
    {% if section.url == page.url %}
      {% assign currentSection = section %}
    {% endif %}
  {% endfor %}
  {% for section in site.sections %}
    {% for subsection in section.subsections %}
      {% if subsection.title == currentSection.title %}
        {% assign crumb1 = section %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}

{% if crumb1 %}
  {% for section in site.sections %}
    {% for subsection in section.subsections %}
      {% if subsection.title == crumb1.title %}
        {% assign crumb2 = section %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}

{% if crumb2 %}
  {% for section in site.sections %}
    {% for subsection in section.subsections %}
      {% if subsection.title == crumb2.title %}
        {% assign crumb3 = section %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}

{% if crumb3 %}
  {% for section in site.sections %}
    {% for subsection in section.subsections %}
      {% if subsection.title == crumb3.title %}
        {% assign crumb4 = section %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}

{% if crumb4 %}
  {% for section in site.sections %}
    {% for subsection in section.subsections %}
      {% if subsection.title == crumb4.title %}
        {% assign crumb5 = section %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}

{% if crumb5 %}
  {% for section in site.sections %}
    {% for subsection in section.subsections %}
      {% if subsection.title == crumb5.title %}
        {% assign crumb6 = section %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}

{% if crumb6 %}
  {% for section in site.sections %}
    {% for subsection in section.subsections %}
      {% if subsection.title == crumb6.title %}
        {% assign crumb7 = section %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}

<div class="row smartling-breadcrumbs">
  <div class="col-xs-12">
    <ol class="breadcrumb">
      <li><a href="/support/">Support</a></li>
      {% if crumb7 %}
        <li><a href="{{crumb7.url}}">{{crumb7.title |}}</a></li>
      {% endif %}
      {% if crumb6 %}
        <li><a href="{{crumb6.url}}">{{crumb6.title}}</a></li>
      {% endif %}
      {% if crumb5 %}
        <li><a href="{{crumb5.url}}">{{crumb5.title}}</a></li>
      {% endif %}
      {% if crumb4 %}
        <li><a href="{{crumb4.url}}">{{crumb4.title}}</a></li>
      {% endif %}
      {% if crumb3 %}
        <li><a href="{{crumb3.url}}">{{crumb3.title}}</a></li>
      {% endif %}
      {% if crumb2 %}
        <li><a href="{{crumb2.url}}">{{crumb2.title}}</a></li>
      {% endif %}
      {% if crumb1 %}
        <li><a href="{{crumb1.url}}">{{crumb1.title}}</a></li>
      {% endif %}
        <li>{{page.title}}</li>
    </ol>
    </div>
  </div>





