

<div class="panel panel-default">
    <div class="panel-heading">
        <a data-toggle="collapse" href="#collapse1">
            <h5 class="panel-title no-anchor">
                Developers
            </h5>

        </a>
    </div>
    <div id="collapse1" class="panel-collapse">
        <div class="panel-body toc">
            <ul class="nav nav-stacked">
                <li class="primary-nav"><a href="/developers/api/v2">Smartling API</a></li>
                {% for section in site.data.api-nav.sections %}
                {% for v2section in site.v2sections %}
                {% if v2section.title == section %}
                <li class="secondary-nav"><a href="{{v2section.url}}">{{v2section.title}}</a></li>
                {% break%}
                {% endif %}
                {% endfor %}
                {% endfor %}
                {% for article in site.data.api-nav.articles %}
                {% for developerarticle in site.developerarticles %}
                {% if developerarticle.title == article %}
                <li class="secondary-nav"><a href="{{developerarticle.url}}">{{developerarticle.title}}</a></li>
                {% break%}
                {% endif %}
                {% endfor %}
                {% endfor %}
                <li class="primary-nav"><a href="/developers/files">File Integration</a></li>
                {% for type in site.data.supportedfiles.filetypes %}
                {% for filetype in site.filetypes %}
                {% if filetype.title == type %}
                <li class="secondary-nav"><a href="{{filetype.url}}">{{filetype.title}}</a></li>
                {% break%}
                {% endif %}
                {% endfor %}
                {% endfor %}
                {% for article in site.data.supportedfiles.articles %}
                {% for developerarticle in site.developerarticles %}
                {% if developerarticle.title == article %}
                <li class="secondary-nav"><a href="{{developerarticle.url}}">{{developerarticle.title}}</a></li>
                {% break%}
                {% endif %}
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

