
<div class="row smartling-breadcrumbs">
    <div class="col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/developers/">Developers</a></li>
            {% if page.layout == 'v2endpoint' %}
                <li><a href="/">API</a></li>
                <li><a href="/">v2</a></li>
                {% for section in site.v2sections %}
                    {% assign category = page.categories | first %}
                    {% if section.category == category %}
                        <li><a href="{{section.url}}">{{section.title}}</a></li>
                        {% break %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if page.layout == 'v2section' %}
                <li><a href="/">API</a></li>
                <li><a href="/">v2</a></li>
            {% endif %}
            {% if page.layout == 'supportedfiletype' %}
                <li><a href="/developers/supported-file-type/">Files</a></li>
            {% endif %}
            {% if page.dev %}
                {% assign devcategory = page.categories | first %}
                {% if devcategory == 'supported-file-type' %}
                    <li><a href="/developers/supported-file-type/">Files</a></li>
                {% endif %}
            {% endif %}
            <li>{{page.title}}</li>
        </ol>
    </div>
</div>