{% include search-box.html %}

<div class="panel panel-default" id="FurtherReadingPanel">
    <div class="panel-heading">
        <a data-toggle="collapse" href="#collapse2">
            <h5 class="panel-title no-anchor">
                Related Content
            </h5>
        </a>
    </div>
    <div id="collapse2" class="panel-collapse">
        <div class="panel-body toc">
            <ul class="nav nav-stacked">
                {% for related in page.related-sections %}
                    {% for related in site.sections %}
                        {% if section.title == related.title %}
                            <li><a href="{{section.url}}">{{section.title}}</a></li>
                            {% break %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                {% for related in page.related-articles %}
                    {% for article in site.articles %}
                        {% if article.title == related.title %}
                            <li><a href="{{article.url}}">{{article.title}}</a></li>
                            {% break %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                {% for link in page.other-links %}
                <li><a href="{{link.url}}">{{link.text}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
