

<footer>
    <hr>
    <div class="container">
        <div class="row footer-content">
            <div class="col-sm-3">
                <img class="footer-logo" src="/img/footerlogo.png">
                <p class="copyright">© 2010-2016 Smartling, Inc.</p>
            </div>
            <div class="col-sm-2">
                <a href="https://www.smartling.com/">Smartling Home</a><br >
                <a href="https://dashboard.smartling.com/">Dashboard</a>
            </div>
            <div class="col-sm-2">
                <a href="http://status.smartling.com/">Smartling Status</a><br >
                <a href="https://www.smartling.com/about/legal/">Legal</a>
            </div>
            <div class="col-sm-2">
                <a href="https://www.smartling.com/about/terms-and-conditions/">Terms & Conditions</a><br >
                <a href="https://www.smartling.com/about/privacy-policy/">Privacy</a>
            </div>
            <div class="col-sm-2">
                <a href="https://www.smartling.com/about/security/">Security</a><br >
                <a href="https://www.smartling.com/become-a-partner">Become a partner</a>
            </div>
        </div>
    </div>

</footer>


<!-- Import General Dependencies -->
<script type="text/javascript" src="/js/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/7.0.0/jquery.mark.min.js"></script>


<!-- Enable Term Highlighting -->
<script type="text/javascript" src="/js/termlist.js"></script>
<script type="text/javascript" src="/js/smartlingterms.js"></script>

{% if page.title == 'Learning' %}
<!-- Learning Page Script -->
<script type="text/javascript" src="/js/learningcards.js"></script>
{% endif %}

<!-- Build the Table of Contents for Articles -->
{% if page.layout == 'article' or page.layout == 'faq' or page.layout == 'supportedfiletype' page.layout == 'supportedfiletype' or page.layout == 'v2endpoint' or page.layout == 'blogpost' %}
<script type="text/javascript" src="/js/toc.js"></script>
{% endif %}

{% if page.title == 'Placeholder Tester' %}
<script type="text/javascript" src="/js/placeholder-tester.js"></script>
{% endif %}

<!--
<script>
    $(document).ready(function() {
        var sidebarheight = $('.side-nav-widget').height();
        var pageheight = $('.page').height() + 200;
        if (sidebarheight > pageheight) {
            $('.page').height(sidebarheight);
        }
    });
</script>
-->


<!-- Insert Anchors -->
{% if page.layout == 'article' or page.layout == 'section' or page.layout == 'supportedfiletype' or page.layout == 'v2endpoint'  %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.0/anchor.min.js"></script>
<script>
 anchors.options = {
  placement: 'left'
 }
 anchors.add('h2:not(.no-anchor), h3:not(.no-anchor), h4:not(.no-anchor), h5:not(.no-anchor)');
</script>
{% endif %}

<!-- Display edit button on test domain only -->
<script>
    $(document).ready(function() {
        if (window.location.host === 'plain-lemongrass.cloudvent.net') {
            $('#editLink').show();
        }
    });
</script>

<!-- swiftype -->
<script type="text/javascript">
    (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
                (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
        e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
    })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

    _st('install','-Jdu3gPTxrQQQwbtYpzJ','2.0.0');
</script>


<!-- Manage Responsive Sidebar Width and match heights to avoid skipped rows-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
<script>
 $(document).ready(function(){
  var new_width = $('#sidebar').width();
  $('#side-nav-widget').width(new_width);
  $('.match-height').matchHeight();
 });
 $( window ).resize(function() {
  var new_width = $('#sidebar').width();
  $('#side-nav-widget').width(new_width);
 });
</script>

