<header class="site-header">

<!-- Navigation -->
    <nav class="navbar navbar-fixed-top {% if page.home %}smartling-header-home{% else %}smartling-header-page{% endif %}" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img class="header-logo" src="/img/SmartlingHelpLogo%20copy.png">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right smartling-header-nav">
                    <li>
                        <a {% if page.url contains "support/" %} class="active" {% endif %} href="/support/">Support</a>
                    </li>
                    <li>
                        <a {% if page.url contains "/developers/" %} class="active" {% endif %} href="/developers">Developers</a>
                    </li>
                    <li>
                        <a {% if page.url contains "/learning/" %} class="active" {% endif %} href="/learning/">Learning</a>
                    </li>
                    <li>
                        <a href="/contact.html">Blog</a>
                    </li>
                    <li id="editLink">
                        <a href="https://app.cloudcannon.com/editor#/site/19991/update{{page.url}}" target="_blank">Edit</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    {%if page.home %}
    <div class="home-banner">
        <div class="container">
            <h1 class="banner-title">
                Smartling Help
            </h1>
            <p>Lormem ipsum dolor sit amet, consectetur adipisicing sed do <br/> eiusmod  tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
    </div>
    {% endif %}
    <!--
    <div class="{% if page.home %}search-bar-home{% else %}search-bar-page{% endif %}">
        <div class="container">
            <div class="row">
                <div class="col-md-{{site.right-width}} col-md-offset-{{site.left-width}}">
                    <span class="search-icon"></span><input class="search-input" placeholder="Search Smartling Help...">
                </div>
            </div>
        </div>
    </div>
    -->


</header>
 <!-- test -->