<head>


  <!-- Browser Stuff -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">



  <!-- meta -->
  <meta name="description" content="">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">


  <!-- Set canonical URL -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.url }}">

  <!-- Custom Fonts -->
  <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <!-- Load Typekit -->
  <script src="https://use.typekit.net/huv2mvs.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <!-- Custom CSS -->
  <link href="/css/smartling-help.css" rel="stylesheet">

  <!-- Bootstrap Core CSS -->
  <link href="/css/bootstrap.css" rel="stylesheet">

  {% if page.layout == 'blogpost' %}

  <meta property="og:url"           content="http://help.smartling.com{{page.url}}" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Smartling - {{page.title}}" />
  <meta property="og:description"   content="{{page.excerpt}}" />
  <meta property="og:image"         content="http://help.smartling.com{{page.banner_image}}" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@smartling">
  <meta name="twitter:title" content="Smartling - {{page.title}}">
  <meta name="twitter:description" content="{{page.excerpt}}">
  <meta name="twitter:image" content="http://help.smartling.com{{page.banner_image}}">

  {% endif %}


</head>
