
{% for heading in site.data.nav.knowledge-base %}
    <div class="toc col-md-6 match-height">
        {% for section in site.sections %}
            {% if section.title == heading %}
                {% assign currentSection = section %}
            {% break %}
            {% endif %}
        {% endfor %}
        <h4>
            <a href="{{currentSection.url}}">{{heading}}</a>
        </h4>
        <ul class="nav nav-stacked">
            {% assign count = '' %}
            {% for subsection in currentSection.subsections %}
                {% if count.size == 5 %}
                    <li>
                        <a href="{{currentSection.url}}">More...</a>
                    </li>
                    {% assign count = count | append: 'x' %}
                    {% break %}
                {% endif %}
                {% for section in site.sections %}
                    {% if section.title == subsection.title %}
                        <li>
                            <a href="{{section.url}}">{{section.title}}</a>
                        </li>
                        {% assign count = count | append: 'x' %}
                        {% break %}
                    {% endif %}
                {% endfor %}
            {% endfor %}


            {% for subarticle in currentSection.subarticles %}
                {% if count.size > 5 %}
                    {% break %}
                {% endif %}
                {% if count.size == 5 and forloop.last != true %}
                    <li>
                        <a href="{{currentSection.url}}">More...</a>
                    </li>
                    {% break %}
                {% endif %}
                {% for article in site.articles %}
                    {% if article.title == subarticle.title %}
                        <li>
                            <a href="{{article.url}}">{{article.title}}</a>
                        </li>
                        {% assign count = count | append: 'x' %}
                        {% break %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
    </div>

    {% assign currentSection = NULL %}
{% endfor %}
<div class="toc col-md-6 match-height">
    <h4>
        <a href="/knowledge-base/faq/">Frequently Asked Questions</a>
    </h4>
    <ul class="nav nav-stacked">
            <li><a href="/knowledge-base/faq/what-browsers-does-smartling-support/">What Browsers Does Smartling Support?</a></li>
            <li><a href="/knowledge-base/faq/what-happens-when-i-change-my-content/">What happens when I change my content?</a></li>
            <li><a href="/knowledge-base/faq/im-locked-out-of-my-account-how-long-do-i-have-to-wait/">I'm locked out of my Account! How long do I have to wait?</a></li>
            <li><a href="/knowledge-base/faq/why-are-there-numbers-in-my-placeholders/">Why are there numbers in my placeholders?
            </a></li>
            <li><a href="/knowledge-base/faq/how-do-i-remove-or-reset-context/">How do I remove or reset context</a></li>
            <li>
                <a href="/knowledge-base/faq/">More...</a>
            </li>
        </ul>
</div>