<div class="panel panel-default">
    <div class="panel-heading">
        <h5 class="panel-title no-anchor">
            <a data-toggle="collapse" href="#collapse1">Smartling Support</a>
        </h5>
    </div>
    <div id="collapse1" class="panel-collapse">
        <div class="panel-body">
            <p>Welcome to Smartling Support, the home for everything you need to successfully manage projects within the Smartling Dashboard.</p>
            <p>Looking to integrate? Check out our <a href="/developers/">developer documentation</a>.</p>
            <p>Go to the <a href="http://product.smartling.com">Product Blog</a> for upcoming features, news and best practices.</p>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h5 class="panel-title no-anchor">
            <a data-toggle="collapse" href="#collapse1">Contact Us</a>
        </h5>
    </div>
    <div id="collapse1" class="panel-collapse">
        <div class="panel-body">
            <p>Still have Questions?</p>
            <ul class="contact-us">
                <li>Email support@smartling.com</li>
                <li>Contact your Smartling Success Manager</li>
            </ul>
        </div>
    </div>
</div>

