
{% include search-box.html %}

<div class="panel panel-default">
    <div class="panel-heading">
        <a data-toggle="collapse" href="#collapse1">
            <h5 class="panel-title no-anchor">
                Smartling Learning
            </h5>
        </a>
    </div>
    <div id="collapse1" class="panel-collapse">
        <div class="panel-body">
            <p>Some text about Smartling Learning.</p>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading learning-toggle" data-learning-type="learning-video">

            <h5 class="panel-title no-anchor">
                Videos
            </h5>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading learning-toggle" data-learning-type="learning-guide">

            <h5 class="panel-title no-anchor">
                Guides
            </h5>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading learning-toggle" data-learning-type="learning-best-practice">

            <h5 class="panel-title no-anchor">
                Best practices
            </h5>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading learning-toggle" data-learning-type="learning-webinar">

            <h5 class="panel-title no-anchor">
                Webinars & open trainings
            </h5>

    </div>
</div>

{% include contact-support-button.html %}