<div class="main-nav" id="main-nav">
    <ul class="nav">
        <li>    
            <a href="/developers/"><i class="fa fa-home"></i> Developers</a>
        </li>
        <li class="{% if page.url contains "/api/v1" %}shown{% endif %}">
            <a href="/developers/api/v1"><i class="fa fa-cogs"></i> api v1</a>
            <ul class="secondary">
                <li class="">
                    <a href="/developers/api/v1/getting-started" class="title">Getting Started</a>
                </li>
                <li class="">
                    <a href="/developers/api/v1/getting-started/response-format" class="title">Response Format</a>
                </li>
                <li class="{% if page.url contains "/developers/api/v1/Shell-Scripts/" %}shown{% endif %}">
                    <a href="/developers/api/v1/shell-scripts"> Command Line Scripts</a>
                </li>
                <li class="{% if page.url contains "/developers/api/v1/SDKs/" %}shown{% endif %}">
                    <a href="/developers/api/v1/sdks">SDKs</a>
                </li>
                <li class="">
                    <a href="/developers/api/v1/fileapi" class="title">File API</a>
                    <ul class="{% if page.url contains "/developers/api/v1/fileapi" %}shown{% endif %} tertiary">
                        {% for FAPIMethod in site.data.FAPIMethods %}

                            <li class= "{% if page.url contains FAPImethod.Link | downcase %}active{% endif %}">
                                <a href="{{FAPIMethod.Link}}">{{FAPIMethod.Name}} ({{FAPIMethod.Type}})</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>

                <li class="{% if page.url contains "/developers/api/v1/html-context" %} active {% endif %}">
                    <a href="/developers/api/v1/html-context" class="title">HTML Context</a>
                </li>

                <li class="{% if page.url contains "/developers/api/v1/translation-imports" %} active {% endif %}">
                    <a href="/developers/api/v1/translation-imports" class="title">Import Translations</a>
                </li>

                <li class="">
                    <a href="#MiscV1" data-toggle="collapse">Other Methods</a>
                        <ul id="MiscV1" class="collapse {% if page.url contains "glossary-export" or page.url contains "download-translations" or page.url contains "projects" or page.url contains "reset-cache" %}in{% endif %} tertiary">
                            <li class= "file-2">
                                <a href="/developers/api/v1/glossary-export" class="title">Glossary Export</a>
                            </li>
                            <li class= "file-2">
                                <a href="/developers/api/v1/download-translations" class="title">Export Translation Memory</a>
                            </li>
                            <li class= "file-2">
                                <a href="/developers/api/v1/projects" class="title">List Locales</a>
                            </li>
                            <li class= "file-2">
                                <a href="/developers/api/v1/reset-cache" class="title">Reset Cache</a>
                            </li>
                        </ul>

                </li>

            </ul>
        </li>
        <li class="{% if page.url contains "developers/api/v2" %}shown{% endif %}">
            <a href="/developers/api/v2"><i class="fa fa-cogs"></i> api v2</a>
            <ul class="secondary">
                <li class="">
                    <a href="/developers/api/v2/new-in-v2" class="title">New in v2</a>
                </li>
                <li class="">
                    <a href="/developers/api/v2/migrate-to-v2" class="title">Migrate to v2</a>
                </li>
                <li class="">
                    <a href="/developers/api/v2/response-format" class="title">Response Format</a>
                </li>
                <li class="">
                    <a href="/developers/api/v2/sdks">SDKs</a>
                </li>
                <li class="">
                    <a href="/developers/api/v2/authentication" class="title">Authentication</a>
                    <ul class="{% if page.url contains "/developers/api/v2/authentication" %}shown{% endif %} tertiary">
                    {% for Method in site.data.v2Methods %}
                        {% if Method.Link contains "/developers/api/v2/authentication" %}
                            <li class= "{% if page.url contains Method.Link %}active{% endif %}">
                                <a href="{{Method.Link}}">{{Method.Name}}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </li>
                <li class="">
                    <a href="/developers/api/v2/projects" class="title">Projects</a>
                    <ul class="{% if page.url contains "/developers/api/v2/projects" %}shown{% endif %} tertiary">

                        <li class= "{% if page.url contains Method.Link %}active{% endif %}">
                            <a href="/developers/api/v2/projects/list-projects/">List Projects</a>
                        </li>
                            <li class= "{% if page.url contains Method.Link %}active{% endif %}">
                            <a href="/developers/api/v2/projects/project-details/">Project Details</a>
                        </li>

                    </ul>
                </li>
                <li class="">
                    <a href="/developers/api/v2/fileapi" class="title">Files</a>
                    <ul class="{% if page.url contains "/developers/api/v2/fileapi" %}shown{% endif %} tertiary">

                            <li class= "{% if page.url contains "/developers/api/v2/Fileapi/Upload-File/" %}active{% endif %}">
                                <a href="/developers/api/v2/fileapi/upload-file/">Upload File</a>
                            </li>
                            <li>
                                <a href="#Download" data-toggle="collapse">Download Translated Files</a>
                                    <ul id="Download" class="collapse {% if page.url contains "/developers/api/v2/fileapi/download-file/" %}in{% endif %}">
                                        <li class= "file-2">
                                            <a href="/developers/api/v2/fileapi/download-file/original-file">Original File</a>
                                        </li>
                                        <li class= "file-2">
                                            <a href="/developers/api/v2/fileapi/download-file/single-locale">Single Locale</a>
                                        </li>
                                        <li class= "file-2">
                                            <a href="/developers/api/v2/fileapi/download-file/multiple-locales">Multiple Locales as .ZIP</a>
                                        </li>
                                        <li class= "file-2">
                                            <a href="/developers/api/v2/fileapi/download-file/all-locales">All Locales as .ZIP</a>
                                        </li>
                                        <li class= "file-2">
                                            <a href="/developers/api/v2/fileapi/download-file/all-locales-csv">All Locales in one File - CSV</a>
                                        </li>                                    
                                    </ul>
                            </li>
                            <li class= "">
                                <a href="/developers/api/v2/fileapi/list/">List Files</a>
                            </li>
                            <li class= "">
                                <a href="/developers/api/v2/fileapi/list-file-types/">List File Types</a>
                            </li>
                            <li>
                                <a href="#Status" data-toggle="collapse">Status</a>
                                <ul id="Status" class="collapse {% if page.url contains "/developers/api/v2/fileapi/status/" %}in{% endif %}">
                                     <li class= "file-2">
                                        <a href="/developers/api/v2/fileapi/status/all-locales">All Locales</a>
                                    </li>
                                    <li class= "file-2">
                                        <a href="/developers/api/v2/fileapi/status/single-locale">Single Locale / Extended Response</a>
                                    </li>                               
                                </ul>
                            </li>

                            <li class= "{% if page.url contains "/developers/api/v2/fileapi/rename/" %}active{% endif %}">
                                <a href="/developers/api/v2/fileapi/rename/">Rename</a>
                            </li>
                            <li class= "{% if page.url contains "/developers/api/v2/fileapi/delete/" %}active{% endif %}">
                                <a href="/developers/api/v2/fileapi/delete/">Delete</a>
                            </li>
                            <li>
                                <a href="#LastModified" data-toggle="collapse">Last Modified</a>
                                <ul id="LastModified" class="collapse {% if page.url contains "/developers/api/v2/fileapi/last-modified/" %}in{% endif %}">
                                    <li class= "file-2">
                                        <a href="/developers/api/v2/fileapi/last-modified/single-locale/">Single locale</a>
                                     </li>
                                    <li class= "file-2">
                                        <a href="/developers/api/v2/fileapi/last-modified/all-locales/">All locales</a>
                                    </li>
                                </ul>
                            </li>
                            <!--
                            <li>
                                <a href="#AuthorizeContent" data-toggle="collapse">Authorize Content</a>
                                <ul id="AuthorizeContent" class="collapse {% if page.url contains "/developers/api/v2/Fileapi/Authorize-Content/" %}in{% endif %}">
                                    <li class= "file-2">
                                        <a href="/developers/api/v2/Fileapi/Authorize-Content/List-Authorized-Locales">List Authorized Locales</a>
                                    </li>
                                    <li class= "file-2">
                                        <a href="/developers/api/v2/Fileapi/Authorize-Content/Authorize">Authorize</a>
                                    </li>

                                    
                                    <li class= "file-2">
                                        <a href="/developers/api/v2/Fileapi/Authorize-Content/Unauthorize">Unauthorize</a>
                                    </li>
                                
                                </ul>
                            </li>
                            -->
                            
                            <li class= "{% if page.url contains "/developers/api/v2/fileapi/import-translations/" %}active{% endif %}">
                                <a href="/developers/api/v2/fileapi/import-translations/">Import Translations</a>
                            </li>
                            <li class= "{% if page.url contains "/developers/api/v2/fileapi/get-translations/" %}active{% endif %}">
                                <a href="/developers/api/v2/fileapi/get-translations/">Get Translations</a>
                            </li>
                    </ul>
                    
                </li>
            </ul>
        </li>

        <li class="{% if page.url contains "/developers/supported-file-types" %}shown{% endif %}">
            <a href="/developers/supported-file-types"><i class="fa fa-thumbs-up"></i> Supported File Types</a>
            <ul class="secondary">
                {% for SupportedFileType in site.data.SupportedFileTypes %}
                <li class= "{% if page.url contains SupportedFileType.link %}active{% endif %}"><a href="{{SupportedFileType.link}}">{{SupportedFileType.file_type}}</a></li>
                {% endfor %}
            </ul>
        </li>

        <li class="{% if page.url contains "/developers/repository-connector" %}shown{% endif %}">
            <a href="/developers/repository-connector/"><i class="fa fa-cloud-download"></i> Repository Connector</a>
            <ul class="secondary">
                <li class="{% if page.url contains "/developers/repository-connector/install-and-setup" %} active {% endif %}">
                    <a href="/developers/repository-connector/install-and-setup" class="title">Installation and Setup</a>
                </li>
                <li class="{% if page.url contains "/developers/Repository-Connector/Repository-Configuration" %} active {% endif %}">
                    <a href="/developers/repository-connector/translation-settings" class="title">Translation Settings</a>
                </li>
                <li class="{% if page.url contains "/developers/Repository-Connector/FAQ-and-Advanced" %} active {% endif %}">
                    <a href="/developers/repository-connector/faq-and-advanced" class="title">FAQ and Advanced</a>
                </li>
                <li class="">
                    <a href="http://support.smartling.com/hc/en-us/articles/204450637" class="title">Version History</a>
                </li>
            </ul>
        </li>

        <li class="{% if page.url contains "/developers/misc" %}shown{% endif %}">
            <a href="/developers/misc"><i class="fa fa-plus-circle"></i> Misc</a>
            <ul class="secondary">
                <li class="{% if page.url contains "/developers/misc/language-identifiers" %} active {% endif %}">
                    <a href="/developers/misc/language-identifiers" class="title">Language Identifiers</a>
                </li>
                <li class="{% if page.url contains "/developers/misc/ruby-localization" %} active {% endif %}">
                    <a href="/developers/misc/ruby-localization" class="title">Ruby Localization</a>
                </li>
                <li class="{% if page.url contains "/developers/misc/localizing-templated-applications" %} active {% endif %}">
                    <a href="/developers/misc/localizing-templated-applications" class="title">Localizing Templated Applications</a>
                </li>
                <li class="{% if page.url contains "/developers/misc/csv-download" %} active {% endif %}">
                    <a href="/developers/misc/csv-download" class="title">CSV Download Options</a>
                </li>
                <li class="{% if page.url contains "/developers/misc/parsers" %} active {% endif %}">
                    <a href="/developers/misc/parsers" class="title">Parser Versions</a>
                </li>
                <li class="{% if page.url contains "/developers/misc/advanced-json-configuration" %} active {% endif %}">
                    <a href="/developers/misc/advanced-json-configuration" class="title">Advanced JSON Configuration</a>
                </li>
            </ul>
        </li>
    </ul>
</div>

