

<div>
    <select id="type">
        <option value="c">C</option>
        <option value="python">Python</option>
        <option value="ios">iOs</option>
        <option value="java">Java</option>
        <option value="yaml">YAML</option>
        <option value="qt">QT</option>
        <option value="resx">RESX</option>
        <option value="custom">Custom</option>
    </select>
    <input type="text" id="custom" style="display: none;">
    <br><br>
    <input type='text' id="teststring">
    <input type='button' id="button" value="Test">
    <br><br>
    <p id='result'></p>
</div>


