

{% include search-box.html %}

<div class="panel panel-default">
    <div class="panel-heading">
        <a data-toggle="collapse" href="#collapse1">
            <h5 class="panel-title no-anchor">
                Supported File Types
            </h5>

        </a>
    </div>
    <div id="collapse1" class="panel-collapse">
        <div class="panel-body toc">
            <ul class="nav nav-stacked">
                {% for type in site.data.supportedfiles.filetypes %}
                    {% for filetype in site.filetypes %}
                        {% if filetype.title == type %}
                            <li><a href="{{filetype.url}}">{{filetype.title}}</a></li>
                            {% break%}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <a data-toggle="collapse" href="#collapse1">
            <h5 class="panel-title no-anchor">
                Other Information
            </h5>

        </a>
    </div>
    <div id="collapse1" class="panel-collapse">
        <div class="panel-body toc">
            <ul class="nav nav-stacked">
                {% for article in site.data.supportedfiles.articles %}
                    {% for developerarticle in site.developerarticles %}
                        {% if developerarticle.title == article %}
                            <li><a href="{{developerarticle.url}}">{{developerarticle.title}}</a></li>
                            {% break%}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>