

{% if page.layout == 'v2section' %}
    {% assign collection = page.title %}
    {% assign endpoints = page.endpoints %}
{% endif %}
{% if page.layout == 'v2endpoint' %}
    {% for section in site.v2sections %}
        {% assign category = page.categories | first %}
        {% if section.category == category %}
            {% assign endpoints = section.endpoints %}
            {% assign collection = section.title %}
            {% break %}
        {% endif %}
    {% endfor %}
{% endif %}

{% include search-box.html %}

<div class="panel panel-default">
    <div class="panel-heading">
        <a data-toggle="collapse" href="#collapse1">
            <h5 class="panel-title no-anchor">
                {{collection}} Endpoints
            </h5>

        </a>
    </div>
    <div id="collapse1" class="panel-collapse">
        <div class="panel-body toc">
            <ul class="nav nav-stacked">
                {% for endpoint in endpoints %}
                    {% for v2endpoint in site.v2endpoints %}
                        {% if v2endpoint.title == endpoint.title %}
                            <li><a {% if page.url == v2endpoint.url %}class="active"{% endif %} href="{{v2endpoint.url}}">{{v2endpoint.title}}</a></li>
                            {% break %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>