---
title: Smartling Developer Documentation
redirect_from:
  - /display/docs/TreeNavigation/
  - /display/docs/Private+APIs/
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

{% include devhead.html %}

<body class="theme-base-smartling" style="max-width: 100%">

{% include header.html  %}

{% include sidebar.html %}


<div class="content" style="max-width: 100%; position: 'absolute'; top: 0px; left: 300px; right: 0px">

  <div class="intro">
  <h1>Smartling is geared for integration</h1>

  <p>Our Developer Documentation contains all the tools you need<br />to integrate Smartling's translation functionality into your project.</p>
    <!--
    <ul>
    <li>A powerful <a href="/developers/API/">REST-like API</a>, with <a href="/developers/SDKs/">Software Development Kits</a> and <a href="/developers/Shell-Scripts">Command Line Scripts</a> to get you started quickly.</li>
    <li><a href="/developers/supported-file-types/">Custom directives</a> you can include in your resource files to control the behavior of your content in the Smartling Dashboard and provide information for translators.</li>
    <li><a href="/developers/Repository-Connector">Smartling's Repository Connector</a> to automate resource file translations in your Github or Beanstalk Repository.</li>
  </ul>
  -->

  </div>

  <ul class="buckets">
  <li><a href="/developers/API/v2"><i class="fa fa-cogs fa-3x"></i>API</a></li>
  <li><a href="/developers/supported-file-types"><i class="fa fa-thumbs-up fa-3x"></i> Supported File Types</a></li>
  <li><a href="/developers/API/v1/SDKs"><i class="fa fa-briefcase fa-3x"></i>SDKs</a></li>
  <li><a href="/developers/Repository-Connector"><i class="fa fa-cloud-download fa-3x"></i>Repository Connector</a></li>
  <li><a href="/developers/API/v1/Shell-Scripts"><i class="fa fa-desktop fa-3x"></i>Command Line Scripts</a></li>
  <li><a href="/developers/Misc"><i class="fa fa-plus-circle fa-3x"></i>Miscellaneous</a></li>
</ul>
</div>

<script type="text/javascript">
 _bizo_data_partner_id = "1743";
</script>
<script type="text/javascript">
(function() {
 var s = document.getElementsByTagName("script")[0];
 var b = document.createElement("script");
 b.type = "text/javascript";
 b.async = true;
 b.src = (window.location.protocol === "https:" ? "https://sjs" : "http://js") + ".bizographics.com/insight.min.js";
 s.parentNode.insertBefore(b, s);
})();
</script>
<noscript>
 <img height="1" width="1" alt="" style="display:none;" src="//www.bizographics.com/collect/?pid=1743&fmt=gif" />
</noscript>
</body>
</html>












