---
layout: default
---

{% for article in site.articles %}
    {% if article.title == page.title %}
        {% assign currentArticle = article %}
    {% endif %}
{% endfor %}
{% assign editUrl = currentArticle.id %}


<div class="container page">
    {% include breadcrumbs.html %}
    <div class="row content-start">

        <div class="col-md-{{site.left-width}} sidebar" id="sidebar">
            <div class="side-nav-widget" id="side-nav-widget">
                {% include sidebar-nav-widget.html %}
            </div>
        </div>

        <div class="col-md-{{site.right-width}} col-md-offset-{{site.left-width}} main-content-container" id="main-content-container">
            <div class="main-content"><h1>{{page.title}}</h1></div>
            <!-- Heading, video and article separated for CloudCannon editing, not layout -->
            {% if page.wistia.video %}
            {% include wistia-video.html %}
            {% endif %}
            <div class="main-content" id="main-text">{{content}}</div>
        </div>

    </div>
        <!--
        <p><a href="https://app.cloudcannon.com/editor#/site/19991/collections/_{{editUrl}}.md">edit</a></p>
        -->
</div>


