---
layout: default
---

{% for faq in site.faqs %}
    {% if faq.title == page.title %}
        {% assign currentArticle = faq %}
    {% endif %}
{% endfor %}
{% assign editUrl = currentArticle.title | slugify %}

<!-- Padding -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p></p>
                <p>
                    <br/> <br/> <br/> <br/> </p>
            </div>
        </div>

<!-- Home Page Content -->
    {% include breadcrumbs.html %}
    <div class="container article">{{page.title}}</div>
    <div class="container article">
        {{content}}
    </div>

    <p><a href="https://app.cloudcannon.com/editor#/site/19991/collections/_articles/{{editUrl}}.md">edit</a></p>
