---
layout: default
---

{% if page.blog-author %}
  {% for author in site.authors %}
     {% if author.title == page.blog-author %}
       {% assign articleauthor = author %}
     {% endif %}
  {% endfor %}
{% endif %}

<script>window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
        t._e.push(f);
    };

    return t;
}(document, "script", "twitter-wjs"));</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=1765996020299431";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container page">

    <div class="row smartling-breadcrumbs">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="/blog/">Product Blog</a></li>
                <li>{{page.title}}</li>
            </ol>
        </div>
    </div>

    <div class="row content-start">

        <div class="col-md-{{site.left-width}} sidebar" id="sidebar">
            <div class="side-nav-widget" id="side-nav-widget">
                {% include sidebar-nav-widget.html %}
            </div>
        </div>

        <div class="col-md-{{site.right-width}} col-md-offset-{{site.left-width}} main-content-container" id="main-content-container">
            <div class="main-content">

                {% if articleauthor %}
                <div class="row" style="margin-top: 10px; margin-bottom: 20px;">
                    <div class="col-sm-3 match-height" data-aspect-ratio="1:1" style="text-align: center; background-image: url('{{articleauthor.image_path}}'); background-origin: content-box; background-size: cover; background-position: center; background-repeat: no-repeat; position: relative;">
                        <!-- <img class="author-image" src="{{articleauthor.image_path}}"> -->
                        <div class="author-name">
                            <div class="author-align">
                            <h5>{{articleauthor.title}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 match-height" style="position: relative;">
                        <div style="position: absolute; bottom: 0; margin-bottom: 0;">
                            <h1 style="margin-bottom: 0;">{{page.title}}</h1>
                            <p style="margin-bottom: 2px;">{{ page.date | date_to_long_string }}</p>

                        </div>
                    </div>
                </div>


                {% else %}
                <h1>{{page.title}}</h1>
                {% endif %}

                <!-- Heading, video and article separated for CloudCannon editing, not layout -->
                {% if page.wistia.video %}
                {% include wistia-video.html %}
                {% endif %}
                <div class="fb-share-button social-button" data-href="http://help.smartling.com{{page.url}}" data-layout="button"></div>
                <div class="twitter-share-button social-button">
                    <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </div>
                {% if page.banner_image %}
                <img class="banner-image" src="{{page.banner_image}}">
                {% endif %}

            </div>



            <div class="main-content" id="main-text">{{content}}</div>


        </div>

    </div>
</div>