---
layout: default
---

<div class="container page">

    <div class="row smartling-breadcrumbs">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="/blog/">Product Blog</a></li>
                <li>{{page.title}}</li>
            </ol>
        </div>
    </div>

    <div class="row content-start">

        <div class="col-md-{{site.left-width}} sidebar" id="sidebar">
            <div class="side-nav-widget" id="side-nav-widget">
                {% include sidebar-nav-widget.html %}
            </div>
        </div>

        <div class="col-md-{{site.right-width}} col-md-offset-{{site.left-width}} main-content-container" id="main-content-container">
            <div class="main-content">
                <h1>{{page.title}}</h1>
                <!-- Heading, video and article separated for CloudCannon editing, not layout -->
                {% if page.wistia.video %}
                {% include wistia-video.html %}
                {% endif %}

                {% if page.banner_image %}
                <img class="banner-image" src="{{page.banner_image}}">
                {% endif %}
            </div>
            <div class="main-content" id="main-text">{{content}}</div>
        </div>

    </div>
</div>