---
layout: default
---

<div class="container page">
    {% include breadcrumbs.html %}
    <div class="row content-start">

        <div class="col-md-{{site.left-width}} sidebar" id="sidebar">
            <div class="side-nav-widget" id="side-nav-widget">
                {% include sidebar-nav-widget.html %}
            </div>
        </div>

        <div class="col-md-{{site.right-width}} col-md-offset-{{site.left-width}} main-content-container" id="main-content-container">
            <div class="main-content"><h1>{{page.title}}</h1></div>
            <div class="main-content file-type-info">
                <table class="file-info">
                    {% if page.extension %}
                    <tr>
                        <td>
                            <strong>Extension</strong>
                        </td>
                        <td>
                            <code>{{page.extension}}</code>
                        </td>
                    </tr>
                    {% endif %}
                    {% if page.smartling_identifier %}
                    <tr>
                        <td>
                            <strong>Smartling Identifier</strong>
                        </td>
                        <td>
                            <code>{{page.smartling_identifier}}</code>
                        </td>
                    </tr>
                    {% endif %}
                    {% if page.download_sample %}
                    <tr>
                        <td>
                            <strong>Example File</strong>
                        </td>
                        <td>
                            <a href="/public/example-files/{{page.download_sample}}">{{page.download_sample}}</a>
                        </td>
                    </tr>
                    {% endif %}
                    {% if page.resources %}
                    <tr>
                        <td>
                            <strong>Resources</strong>
                        </td>
                        <td>
                                <ul class="resources-list">
                                    {% for resource in page.resources %}
                                        <li><a href="{{resource.link}}">{{resource.title}}</a></li>
                                    {% endfor %}
                                </ul>

                        </td>
                    </tr>
                    {% endif %}
                </table>
            </div>
            <div class="main-content" id="main-text">{{content}}</div>
            <div class="main-content">
                {% assign directiveslength = page.directives | size %}
                {% if directiveslength > 0 %}
                    <h2>Directives</h2>
                    <h3 class="no-toc">Format</h3>
                    <pre class="highlight"><code>{{page.directive_format}}</code></pre>
                    {% if page.directive_instrucions_markdown %}
                        <p>{{page.directive_instructions_markdown | markdownify}}</p>
                    {% endif %}
                {% endif %}

                {% for d in page.directives %}
                    {% for directive in site.filedirectives %}
                        {% if directive.directive_id == d %}

                            <div class="row">
                                <div class="col-md-12"><h3>{{directive.title}}</h3></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"><strong>Values</strong></div>
                                <div class="col-md-10">{{directive.values_markdown | markdownify}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <strong>Description</strong>
                                </div>
                                <div class="col-md-10">
                                    {{directive.description_markdown | markdownify}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <strong>Examples</strong>
                                </div>
                                <div class="col-md-10">
                                    {% assign example_array = site.emptyArray %}
                                    {% for example in directive.examples %}
                                        {% if example.type == page.smartling_identifier %}
                                            {% assign example_array = example_array | push: example %}
                                        {% endif %}
                                    {% endfor %}
                                    {% assign specificExampleLength = example_array | size %}
                                    {% if specificExampleLength == 0 %}
                                        {% for example in directive.examples %}
                                            {% if example.type == 'generic' %}
                                                {% assign example_array = example_array | push: example %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% for example in example_array %}
                                        {% if example.code_single_line %}
                                            <pre><code>{{page.directive_prefix}}{{example.code_single_line}}{{page.directive_suffix}}</code></pre>
                                        {% endif %}
                                        {% if example.code_markdown %}
                                            {{example.code_markdown | markdownify}}
                                        {% endif %}
                                        {% if example.description_markdown %}
                                        {{example.description_markdown | markdownify}}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            {% break %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>



        </div>

    </div>
</div>
